@charset "utf-8";

/* <!-- Author - Tang Wilson --> */

html {
  background: rgb(51, 51, 51) url(pictures/abstract-blur-hotel-interior.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: rgb(235, 223, 223);
  box-shadow: black, black -20px 0px 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0px auto;
  max-width: 1200px;
  background-image: url(pictures/white-wood.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-family: cursive;
}

ul li {
  list-style-type: none;
  line-height: 1.3em;
  margin-bottom: auto;
  
}

a:hover {
  color: rgb(94, 84, 80);
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.title_header {
  background: transparent url(pictures/beautiful-front.jpg);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-color: rgb(180, 178, 178);
  background-blend-mode: darken;
  max-width: 100%;
  height: 50%;

  box-shadow: 0 0 50px 5px #000;
  animation: pic 15s infinite;
}
@keyframes pic {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -200px;
  }
}

.title_header h1 {
  color: rgb(214, 203, 138);
  opacity: 0.8;
  font-family: Copperplate Gothic Light;

  font-size: 100px;
  font-weight: bold;
  padding: 15% 0;
  text-align: center;
}

.video-border {
  background-image: url(pictures/clean-blue-background-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.heading_text-left {
  font-size: 20px;
  width: 40%;
  float: left;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 30px;

  background-color: rgba(253, 250, 250, 0.555);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.heading_text-right {
  font-size: 20px;
  width: 40%;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 150px;
  margin-right: 0px;

  float: right;

  background-color: rgba(253, 250, 250, 0.555);

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.service {
  background-image: url(pictures/servicecounter.png);
  background-repeat: no-repeat;

  background-color: rgb(180, 178, 178);
  /* background-blend-mode: darken; */
  max-width: 60%;
  height: 50%;
  margin: auto;
  
  box-shadow: 0 0 25px 5px #000;
  animation: pic 10s infinite;
}

.col ul a li {
  line-height: 1.2em;
}
header {
  width: 100%;
}

nav ul {
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(to bottom, rgb(216, 210, 198), rgb(119, 92, 60));
  -moz-column-width: 200px;
  -webkit-column-width: 200px;
  column-width: 130px;
  -moz-column-gap: 25px;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  padding: 25px;
  max-height: 100%;
}

p {
  font-family: cursive;
}

/* .content {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
} */

.content h1 {
  text-align: center;
}
.content p {
  width: 35%;
  float: right;
  font-size: 1.4em;
  text-align: center;
  color: rgb(136, 255, 0);
  font-weight: bold;
}

.content-1 {
  background-image: url(pictures/deluxe-bed-blurred.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: auto;
  height: 33em;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 5%;
  margin-top: 10%;
}



.content-2 {
  background-image: url(pictures/luxury-room-blurred.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: auto;
  height: 33em;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 5%;
  margin-top: 10%;
}

.content-3 {
  background-image: url(pictures/king-beds-blurred.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: auto;
  height: 33em;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 5%;
  margin-top: 10%;
}

.content img {
  margin-left: 7%;
  margin-top: 5%;
  width: 500px;
}

.img:hover {
  transform: scale(1.1);
  transition: 2s;
}

header a {
  margin-left: 5%;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
  section h1 {
    font-size: 1.5em;
  }

  section p {
    font-size: 0.9em;
  }

  nav {
    -webkit-order: 99;
    order: 99;
  }

  footer {
    -webkit-order: 100;
    order: 100;
  }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
