@charset "utf-8";

/* HTML and Body styles */

html {
  background: rgb(51, 51, 51) url(pictures/abstract-blur-hotel-interior.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: white;
  box-shadow: black, black -20px 0px 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0px auto;
  max-width: 75%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: cursive;
}

ul li {
  list-style-type: none;
}

a:hover {
  color: rgb(192, 231, 169);
  text-decoration: none;
}

header {
  width: 100%;
}

nav ul {
  margin-top: 0;
  background: linear-gradient(to bottom, rgb(216, 210, 192), rgb(160, 112, 57));
  -moz-column-width: 200px;
  -webkit-column-width: 200px;
  column-width: 130px;

  -moz-column-gap: 25px;
  -webkit-column-gap: 25px;
  column-gap: 25px;

  padding: 25px; 
  max-height:100% ;
}

/* Footer styles */

footer {
  color: white;
  background: rgb(44, 70, 44);
  height: 70px;
  padding-top: 20px;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}

p {
  font-family: cursive;
}

.content {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  
}

.img:hover {
  transform: scale(1.1);
  transition: 2s;
}

header a{
  margin-left: 5%;
}


/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
  section h1 {
    font-size: 1.5em;
  }

  section p {
    font-size: 0.9em;
  }

  nav {
    -webkit-order: 99;
    order: 99;
  }

  footer {
    -webkit-order: 100;
    order: 100;
  }
}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
