label {
    display: block;
    float: left;
    clear: left;
    margin: 5px;
    width: 200px;
 }
 
 input, select, textarea {
    display: block;
    float: left;
    margin: 5px 0px;
    width: 200px;
 }
 
 textarea {
    height: 100px;
 }
 
 form p {
    clear: left;
    text-align: center;
    padding-top: 40px;
 }
 
 input[type='submit'] {
    background-color: rgb(202, 142, 63);
    color: rgb(184, 133, 74);
    border-radius: 20px;
    float: none;
    display: inline;
    font-size: 1.1em;
    height: 30px;
    width: 150px;
 }